---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='devLib'>
  <Navbar />
  <main class="m-0">
    <h1>main</h1>
  </main>
</Layout>
