---
import IconGitHub from '../svgs/IconGitHub.astro';
---

<footer
  class='px-10 h-16 col-span-2 flex items-center justify-between border-t-[0.1px] border-colorAccent'
>
  <span>
    Made by <a href='https://github.com/OrlandoJE' class='underline'>
      OrlandoJE
    </a>
  </span>
</footer>
