---
import IcondevLib from '../svgs/IcondevLib.astro';
import IconGitHub from '../svgs/IconGitHub.astro';
import IconLink from '../svgs/IconLink.astro';
---

<nav class='px-10 h-16 col-span-2 flex justify-between items-center border-b-[0.1px] border-colorAccent'>
  <a href='#' class='flex gap-4 items-center'>
    <IcondevLib />
    devLib
  </a>
  <div class='flex gap-12 items-center'>
    <a href='#' class='flex items-center underline'>
      Add Site
      <IconLink />
    </a>
    <a href='#'>
      <IconGitHub />
    </a>
  </div>
</nav>
