---
import '@fontsource-variable/inter';

import Topbar from '../components/Topbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='A Place to Discover the Tools for your Development'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='../../public/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class='grid grid-cols-[14%,auto] grid-rows-[auto, auto, auto]'>
    <Topbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --background: hsla(0, 0%, 7%, 1);
    --accent: hsla(179, 40%, 75%, 1);
    --text: hsla(180, 13%, 86%, 1);
    --textLight: hsla(180, 5%, 67%, 1);
  }
  html {
    font-family: 'Inter Variable', sans-serif;
    background: var(--background);
    color: var(--text);
  }
  a,
  svg {
    transition: 0.2s;
  }
  svg.GitHub {
    fill: var(--text);
  }
  svg.Link,
  svg.devLib,
  svg.Home {
    stroke: var(--text);
  }
  a:hover {
    color: var(--accent);
  }
  a:hover svg.GitHub {
    fill: var(--accent);
  }
  a:hover svg.Link,
  a:hover svg.devLib {
    stroke: var(--accent);
  }
  button,
  button .numberContainer {
    transition: 0.2s;
  }
  button:hover {
    background: var(--accent);
    color: var(--background);
  }
  button:hover .numberContainer {
    background: var(--background);
    color: var(--textLight);
  }
  button:hover svg {
    stroke: var(--background);
  }
</style>
